
<center><table width=700>		
<tr><td>


<h2 style="text-align: center;">All information</h2>
<h3 style="text-align: right;"><%= link_to "New information", newInfo_path %></h3>


	<%= render @information %>



</center>
