<table class="info">
  <tr>
    <td class="main">
      <h1>
        <%= @information.title %>
      </h1>
    </td>
    <td class="sidebar round">
			<%= @information.content %>
    </td>
  </tr>
</table>
