<table width=700>		

			<tr>
	<td>
<center>				<h2>History</h2>

<div class="info">
<p>Box Hill is a summit of the North Downs in Surrey, approximately 30 km (19 mi) south west of London. The hill takes its name from the ancient box woodland found on the steepest west-facing chalk slopes overlooking the River Mole. The western part of the hill is owned and managed by the National Trust, whilst the village of Box Hill lies on higher ground to the east. The highest point is Betchworth Clumps at 224 m (735 ft) above OD,[1] although the Salomons Memorial overlooking the town of Dorking is the most popular viewpoint.[2]</p>
<p>Box Hill lies within the Surrey Hills Area of Outstanding Natural Beauty and forms part of the Mole Gap to Reigate Escarpment Site of Special Scientific Interest. The north- and south-facing slopes support an area of chalk downland, noted for its orchids and other rare plant species.[3] The hill provides a habitat for 40 species of butterfly,[3] and has given its name to a species of squash bug, now found throughout south east England.[4]</p>
<p>An estimated 850,000 people visit Box Hill each year.[2] The National Trust visitors' centre provides both a cafeteria and gift shop and the panoramic views of the western Weald may be enjoyed from the North Downs Way, a long distance footpath that runs along the southern escarpment. Box Hill will feature prominently on the route of the 2012 Summer Olympics cycling road race events, the men doing nine circuits and the women doing two circuits.[5]</p>
</div>
</center><br>
		</td>
	</tr>
</table>
