<table><tr><td>

	<h2 style="text-align: center;">All files</h2>
	<h3 style="text-align: right;"><%= link_to "Upload file", newFile_path %></h3>
	<ul>
		<%= render @documents %>
	</ul>
	<h3 style="text-align: right;"><%= link_to "Upload file", newFile_path %></h3>

</tr></td><table>
