<hr style="margin-top: 100px;"/>

<h3><center>For the latest <a href="http://friendsofboxhill.blogspot.com/">NEWS</a> from the Friends of Box Hill<br>
 (including forthcoming events) see <a href="http://friendsofboxhill.blogspot.com/">the blog</a>
</center>								
</h3>			

			 	<%= image_tag("box_hill_zig_zag.jpg", :class => "c",  :alt => "Box Hill from the west, with the main slope on the left, the Whites in the middle, the viewpoint on the right, and Denbies vineyard in the foreground") %>
<br>
<br>
</CENTER>
